<!--The content below is only a placeholder and can be replaced.-->
<div class="col-sm-4">
</div>
<div class="col-sm-4">
  <h1>{{dialer.usersNumber}} </h1>
  <table>
    <tr>
      <th class="number" (click)="dialer.addChar(1)">1</th>
      <th class="number" (click)="dialer.addChar(2)">2</th>
      <th class="number" (click)="dialer.addChar(3)">3</th>
    </tr>
    <tr>
      <th class="number" (click)="dialer.addChar(4)">4</th>
      <th class="number" (click)="dialer.addChar(5)">5</th>
      <th class="number" (click)="dialer.addChar(6)">6</th>

    </tr>
    <tr>
      <th class="number" (click)="dialer.addChar(7)">7</th>
      <th class="number" (click)="dialer.addChar(8)">8</th>
      <th class="number" (click)="dialer.addChar(9)">9</th>
    </tr>
    <!-- "Backspace" and "accept" has another functionality. Text on buttons is smaller -->
    <tr>
      <th class="bckspc" (click)="dialer.removeLastChar()">Backspace</th>
      <th class="number" (click)="dialer.addChar(0)">0</th>
      <th class="accept" (click)="dialer.call()">Accept</th>
    </tr>
  </table>
</div>
<div class="col-sm-4">
</div>