/* You can add global styles to this file, and also import other style files */
body {
    background-color: #f4ffc2
}
h1 {
    text-align: center;
}
table, th, td {
    border: 1px solid black;
    text-align: center;

}
table {
    top: 100px;
    position: absolute;
    width: 100%;
}
td {
    height: 100px;
}
th {
    width: 33%;
    height: 100px;
}

.number {
    font-size: 36px;
}
.number:hover {
    background-color: #ccc;
}
.bckspc:hover {
    background-color: #f2a2a2;
}
.accept:hover {
    background-color: #a2f2a2;
}